body {
  position: relative;
}
a {
  color: #0084FF;
}
.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle  {
  background-color: #0084FF;
  color: #fff;
}
.hidden {
  display: none;
}
.btn.btn-outline-secondary:hover {
  color: #fff;
  background-color: #FF5E00;
  border-color: #FF5E00;
}
.navbar .navbar-brand img {
  height: 40px;
}
.navbar-light .navbar-text a.btn-primary {
  color: #fff;
}
.navbar-light .navbar-text a.btn-outline-secondary:hover {
  color: #fff;
}
.homepage-head h1 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  .homepage-head h1 {
    font-size: 3.5rem;
  }
}
.faqs .list-faq {
  margin: 0;
  padding: 0;
}
.faqs .list-faq .item {
  list-style-type: none;
  margin-bottom: 20px;
}
.faqs .list-faq .item .title {
  font-family: Montserrat Bold,sans-serif;
  padding: 15px 25px;
  margin-bottom: 0;
  background-color: #ecebea;
  cursor: pointer;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.faqs .list-faq .item .title.active {
  background-color: #FF5E00;
  color: #fff;
}
.faqs .list-faq .item .title .arrow {
  background-image: url(../assets/images/arrow-down.svg);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 14px;
  height: 8px;
}
.faqs .list-faq .item .title.active .arrow {
  background-image: url(../assets/images/arrow-up.svg);
}
.faqs .list-faq .item .description {
  display: none;
  padding: 25px;
  background-color: #ecebea;
}
.faqs .list-faq .item:first-child .description {
  display: block;
}

footer {
  background-color: #0c1d46;
  color: #fff;
  padding: 30px;
}
footer .container {
  position: relative;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #b2eaff;
}
footer hr.clearfix {
  margin: 5px 10px;
}
footer .icons .icon {
  display: inline-block;
  width: 300px;
  padding: 10px;
  font-size: 25px;
}
footer .long_plant {
  display: none;
}

/* Home page */
body.home,
body.home .btn,
body.home .navbar-text a,
body.home .navbar-nav a.nav-link
{
  color: #fff;
}
body.home .navbar-toggler {
  background-color: #fff;
}
.home-page .fish-tank-shadow {
  background-color: rgba(35, 59, 120, 0.8);
  box-shadow: 0 -30px 20px 20px rgb(35 59 120 / 80%);
}
.home-page section {
  margin-bottom: 35px;
}
.home-page .instructions ul li {
  background: none;
  border: none;
  padding: 0.25rem 1.25rem;
}
.home-page .large-font {
  font-size: 23px;
}

.advertiser-info .head {
  font-size: 100px;
}
.advertisers .form {
  max-width: 420px;
  margin: 0 auto;
}
