{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block header_tags %}
<title>Sign up for Guppy, the site for getting notifications.</title>
<meta name="description" content="Sign up to for Guppy"/>
{% endblock %}

{% block signup %}
<div>
  <h1 class="row">Sign up for Guppy</h1>
  <div class="row clearfix"></div>
  <div class="row">
    <form class="signup-login-form col-12" action="" method="POST">{% csrf_token %}
      <div class="input-group" id="signup-form">
        {% crispy signup_form %}
      </div>
      <div class="row row-spacer-2 clearfix"></div>
      <button class="btn btn-lg btn-primary" type="submit" name="signup" value="Get $$$$$">Sign up</button>
    </form>
  </div>
  <div class="row row-spacer-2 clearfix"></div>
  <div class="row">
    <p>Already a member? <a href="{% url 'login' %}{{ next }}">Click here to login</a></p>
  </div>
</div>

{% endblock signup %}
