{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load honeypot %}

{% block header_tags %}
<title>Sign up for Guppy, the site for getting notifications.</title>
<meta name="description" content="Sign up to for Guppy"/>
{% endblock %}

{% block signup %}
<div>
  <h4 class="row">Sign up for Guppy</h4>
  {% if messages %}
    {% for message in messages %}
    <div class="row alert {{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  <div class="row clearfix"></div>
  <div class="row">
    <form class="signup-login-form" action="" method="POST">{% csrf_token %}
      {% crispy signup_form %}
      {% render_honeypot_field %}
      <button type="submit" class="btn btn-primary" name="signup" value="Get $$$$$">Sign up</button>
    </form>
  </div>
  <div class="row">
    <p>Already a member? <a href="{% url 'login' %}{{ next }}">Click here to login</a></p>
  </div>
</div>

{% endblock signup %}
