{% extends "index.html" %}
{% load static %}
{% load cache %}
{% load compress %}

{% block header_tags %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/swimming-fish.css' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="row home-page">
  <div class="col-md-8 offset-md-2 fish-tank-shadow">
    {% if not user.is_authenticated %}
    <div class="text-center homepage-head">
      <h1>Get Paid for the Ads on Your Screen 💸</h1>
      <i><h2>We replace ads on the web with our own ads and pay you 80% of what we make.<br/><br/>It's your computer. Get paid for the ads on it.</h2></i>
    </div>
    {% endif %}
    <section class="instructions">
      <div class="text-center"><a class="btn btn-secondary mt-3 mb-3" href="{% url 'signup' %}">Click here to start earning</a></div>
      <h2 class="text-center">How to earn money</h2>
      <div class="row">
        <div class="col-md-4 column">
          <div class="text-center"><p class="head">✍</p></div>
          <div><p><a href="{% url 'signup' %}">Sign up</a> for a Guppy account.</p></div>
        </div>
        <div class="col-md-4 column">
          <div class="text-center"><p class="head">👩‍🔧</p></div>
          <div>
            <p>Install the Guppy browser extension:</p>
            <div>
              <div>
                1. <a href="https://chrome.google.com/webstore/detail/guppy/fcbbbaehpmcgbcoibbcihdjnlibenmfh" target="_blank">Click here for the Chrome Extension</a>
              </div>
              <div>
                2. Coming soon!
              </div>
              <div>&nbsp;- Firefox extension.</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 column">
          <div class="text-center"><p class="head">🏄</p></div>
          <div><p>Surf the web with the Guppy browser extension and earn money for seeing ads the web!</p></div>
        </div>
      </div>
      <div class="text-center"><a class="btn btn-secondary mt-3 mb-3" href="{% url 'signup' %}">Click here to start earning</a></div>
    </section>

    <section class="large-font">
      <h2 class="text-center">Guppy payout goals</h2>
      <div>
        Current estimated payout: <b>$1 per month</b>
      </div>
      <div>
        Payout goal: <b>$55 per month</b>
      </div>
    </section>

    <section>
      <h2 class="text-center">How it works</h2>
      <div class="row how-it-works">
        <div class="col-md-4">
          <p>We remove online ads from companies like Facebook and Google that track you and monetize your personal data.</p>
        </div>
        <div class="col-md-4">
          <p>We replace these ads with our own, and when we make a dollar, we give you eighty cents.</p>
        </div>
        <div class="col-md-4">
          <p>You paid for your computer. It's your billboard. Your attention is valuable. Get paid for it.</p>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-center">Refer your friends and earn!</h2>
      <p>
        Refer your friends using your Guppy referral link and earn each time a friend becomes a Guppy user.<br />
        <a href="{% url 'signup' %}">Click here</a> to get started,
        or <a href="{% url 'referral-program' %}">learn more about the Guppy referral program</a>
      </p>
    </section>
    <!--
    <h4>Earn cash for searching the web.</h4>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name="search-guppy" value="Search Guppy" />
      <input type="submit" name="search-google" value="Search Google" />
    </form>
    -->
  </div>
</div>
{% endblock %}

{% block swimming_fish %}
{% cache 3600 home_page_fish_swimming %}
<div class="fish-block">
  <div id="fish-tank">
    <div id="bubble-field"></div>
    <div class="plant">
      <div class="leaf-1"></div>
    </div>
    <div class="fish">
      <div class="top-fin"></div>
      <div class="fish-body"></div>
      <div class="tail-fin"></div>
      <div class="side-fin"></div>
      <div class="scale scale-1"></div>
      <div class="scale scale-2"></div>
      <div class="scale scale-3"></div>
    </div>
  </div>
</div>
{% endcache %}
{% endblock %}

{% block extra_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/swimming-fish.js' %}"></script>
{% endcompress %}
{% endblock %}
