{% extends "index.html" %}
{% load static %}

{% block header_tags %}
<link rel="stylesheet" href="{% static 'css/swimming-fish.css' %}">
{% endblock %}

{% block content %}
<div class="row home-page">
  <div class="col-md-8 offset-md-2">
    {% if not user.is_authenticated %}
    <div class="text-center homepage-head"><h1>Get Paid to Search the Web!</h1></div>
    {% endif %}
    <section class="instructions">
      <h2>How to earn money</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1. <a href="{% url 'signup' %}">Sign up</a> for a Guppy account.</li>
        <li class="list-group-item">
          2. Install the Guppy browser extension:<br/>
          <ul>
            <li><a href="https://chrome.google.com/webstore/detail/guppy/fcbbbaehpmcgbcoibbcihdjnlibenmfh" target="_blank">Click here for the Chrome Extension</a></li>
            <li>Coming soon!
              <ul>
                <li>Firefox extension.</li>
                <li>Guppy browser (Firefox fork)</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="list-group-item">3. Surf the web with the Guppy browser extension and earn money for surfing the web!</li>
      </ul>
    </section>

    <section class="large-font">
      <h2>Guppy payout goals</h2>
      <div>
        Current estimated payout: <b>$1 per month</b>
      </div>
      <div>
        Payout goal: <b>$55 per month</b>
      </div>
    </section>

    <section>
      <h2>How it works</h2>
      <p>
        Like Google, Facebook, Twitter, and other tech companies, Guppy collects personal information about your browsing history.<br />
        Unlike these platforms, Guppy pays you for your data.<br />
        <b>Your data is valuable - get paid for it.</b>
      </p>
    </section>

    <section>
      <h2>Refer your friends and earn!</h2>
      <p>
        Refer your friends using your Guppy referral link and earn each time a friend becomes a Guppy user.<br />
        <a href="{% url 'signup' %}">Click here</a> to get started,
        or <a href="{% url 'referral-program' %}">learn more about the Guppy referral program</a>
      </p>
    </section>
    <!--
    <h4>Earn cash for searching the web.</h4>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name="search-guppy" value="Search Guppy" />
      <input type="submit" name="search-google" value="Search Google" />
    </form>
    -->
  </div>
</div>
{% endblock %}

{% block swimming_fish %}
<div class="fish-block">
  <div id="fish-tank">
    <div id="bubble-field"></div>
    <div class="plant">
      <div class="leaf-1"></div>
    </div>
    <div class="fish">
      <div class="top-fin"></div>
      <div class="fish-body"></div>
      <div class="tail-fin"></div>
      <div class="side-fin"></div>
      <div class="scale scale-1"></div>
      <div class="scale scale-2"></div>
      <div class="scale scale-3"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/swimming-fish.js' %}"></script>
{% endblock %}
