{% extends "index.html" %}

{% block header_tags %}
<title>Sign up advertiser successfully.</title>
<meta name="description" content="Sign up advertiser successfully"/>
{% endblock %}

{% block content %}
<div class="row">
  <h1 class="col-md-8 offset-md-2">The fastest way to advertise on any website</h1>
</div>
<div class="row text-center advertisers">
  <div class="col-md-8 offset-md-2 alert alert-danger hidden" id="message" role="alert">
  </div>
  <form class="input-group col-md-8 offset-md-2 form" id="email-form">
    <input type="text" class="form-control" placeholder="Email" aria-label="Email" required id="email-input" value="{{ email }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Advertise now</button>
    </div>
  </form>
</div>
<div class="row text-center advertiser-info mt-5">
  <div class="col-md-4">
    <div><p class="head">💸</p></div>
    <div><h2>CPC as low as $0.01 per click</h2></div>
  </div>
  <div class="col-md-4">
    <div><p class="head">🐟</p></div>
    <div><h2>Advertise with <a href="{{ base_url }}">Guppy</a>, where our community gets paid to view your ads</h2></div>
  </div>
  <div class="col-md-4">
    <div><p class="head">🌎</p></div>
    <div><h2>Place your ads on any site, even competitors' sites</h2></div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
  const form = document.getElementById('email-form');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const input = document.getElementById('email-input');

    window.location.href = '{% url "advertiser_signup" %}?email=' + encodeURIComponent(input.value)
  })
</script>
{% endblock extra_js %}
