{% extends "index.html" %}
{% load static %}

{% block header_tags %}
  <title>About Guppy</title>
  <meta name="description" content="About Guppy."/>
{% endblock %}

{% block content %}
<div class="row legal-header text-center">
  <div class="col-md-8 offset-md-2">
    <h1 class="align-items-center">About Guppy</h1>
  </div>
</div>
<section class="row navbar-change">
  <div class="col-md-8 offset-md-2">
    <p>
      Guppy is a cash back browser extension.
    </p>
    <p>
      Our mission is to pay our community as much as possible for seeing ads on the web.
    </p>
    <p>
      It's your computer. Get paid for the ads on it.
    </p>

    <ul>
      <li>We have no investors to pay so we can pay our community more.</li>

      <li>We have a <a href="{% url 'privacy-policy' %}">privacy policy</a> and <a href="{% url 'terms-of-service' %}">terms of service</a> that you don't need a law degree to understand.</li>

      <li>We pay conventional money (💵) - not cryptocurrency.
        If buying groceries using crypto becomes commonplace, we'll consider it.</li>

      <li>Guppy code is open source. Want to help shape the Guppy community? <a href="https://github.com/guppyco" target="_blank">Find us on GitHub</a>.</li>
    </ul>

    <p>Have a suggestion on how to improve Guppy? Email us at <a href="mailto:help@guppy.co">help@guppy.co<a></p>
  </div>
</section>
{% endblock content %}
