{% extends "index.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block header_tags %}
  <title>Privacy Policy</title>
  <meta name="description" content="Guppy collects any data available to us via our website, browser, and browser extensions. Learn more about our privacy policy here."/>
{% endblock %}

{% block content %}
<div class="row legal-header text-center">
  <div class="col-md-8 offset-md-2">
    <h1 class="align-items-center">Privacy Policy</h1>
  </div>
</div>
<section class="row navbar-change">
  <div class="col-md-8 offset-md-2">
    <p>Guppy collects any data available to us via our website, browser, and browser extensions.</p>
    <p>We sell this data.</p>
    <p>We try to ensure that data we sell does not contain personally identifiable information, but this is not guaranteed.</p>
    <p>In fact, privacy is not a guarantee when using Guppy.</p>
    <p>This privacy policy is subject to change at any time.</p>
    <p>If you have suggestions to improve privacy or questions about this privacy policy, please email us at <a href="mailto:privacy@guppy.co">privacy@guppy.co</a>.</p>
  </div>
</section>
{% endblock content %}
