{% extends "index.html" %}

{% block title %}Terms of Service{% endblock %}

{% block header_tags %}
  <meta name="description" content='Guppy users provide personal data to Guppy via various interfaces, including but not limited to the Guppy browser extension, the Guppy browser, and the Guppy website ("the Guppy Services"). Learn more about our terms of service here.'/>
{% endblock %}

{% block content %}
<div class="row legal-header text-center">
  <div class="col-md-8 offset-md-2">
    <h2 class="align-items-center">Terms of Service</h2>
  </div>
</div>
<section class="row navbar-change">
  <div class="col-md-8 offset-md-2">
    <p>Guppy users provide personal data to Guppy via various interfaces, including but not limited to the Guppy browser extension, the Guppy browser, and the Guppy website ("the Guppy Services").</p>
    <p>Guppy users provide their data without restriction as to the type of data collected via the Guppy Services, and without restriction on Guppy's use of the data collected via the Guppy Services.</p>
    <p>Guppy reserves the right to resell data collected via the Guppy Services and to use this data to improve its service.</p>
    <p>Please note that these Terms of Service may change at any time.</p>
    <p>Please email <a href="mailto:privacy@guppy.co">privacy@guppy.co</a> with questions about our terms of service or the Guppy Services.</p>
  </div>
</section>
{% endblock content %}
